body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior: none;
}
.hint {
  position: absolute;
  top: 2.5em;
  font-size: 1.2rem;
}
.container {
  position: relative;
  font-family: monospace;
}
.renderGrid {
  position: absolute;
  top: 0;
  left: 0;
  font-family: monospace;
  font-size: 15px;
  letter-spacing: 0.4em;
  line-height: 1em;
  display: inline-block;
  pointer-events: none;
}
.renderGrid>div { height: 17px; }
/* for barWave, we need smaller fonts */
.renderGrid.smallFont {
  font-size: 10px;
}

/* For recording 640x640 instagram vid */
.measure {
  width: 640px;
  height: 640px;
  position: absolute;
  /* border: 1px solid white; */
  top: 10px;
  left: 230px;
  margin: 0 auto;
}
.cell {
  width: 1em;
  text-align: center;
}